*{
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
}
.top{
    width: 100%;
    height: 44px;
    background: rgba(0,0,0,0.8);
    position: fixed;
    top: 0;
}
.conter{
    width: 1000px;
    height: 44px;
    margin: 0 auto;
}
.shop{
    width: 100%;
    overflow: hidden;
}
.conter ul{
    display: -webkit-flex; /* Safari */
    display: flex;
    list-style: none;
    justify-content: space-between;
}
.conter ul li{
    font-size: 14px;
    font-weight: 400;
    line-height: 44px;
    color: #fff;
}
.conter ul li:hover{
    color: #b6b6b6;
}
.liebiao{
    display: none;
}
.iconfont{
    font-size: 20px;
    font-weight: 400;
    line-height: 44px;
    color: #fff;
}
.iconfont:hover{
    color: #b6b6b6;
}
.box{
    width: 100%;

}
.boxf{
    margin-top: 50px;
}
.ipad{
    background: rgb(245,245,245);
}
.iphone8{
    background:rgb(249,230,240);
}
.box .textf{
    padding-top: 88px;
}
.box .textf h1{
    text-align: center;

    width: 100%;
    margin: 0 auto;
    font-size: 60px;
    font-weight: 600;
    color: #111;
}
.box .textf h2{
    text-align: center;

    width: 100%;
    margin: 10px auto;
    font-size: 30px;
    font-weight: 400;
    color: #111;
}
.box .wrapper{
    margin-top: 15px;
    text-align: center;
}
.box .wrapper a{
    text-decoration: none;
    font-size: 25px;
    font-weight: 400;
    margin-right: 20px;
    color: #0070c9;
}
.box .shopimg{
    z-index: 1;
    margin: 60px auto 0;
    width: 1068px;
    height: 337px;
}
.box .iphoe_x{
    background:url("../img/iphone_x_large.jpg") no-repeat center;
}
.box .iphoe_8{
    background:url("../img/iphone_8_large.jpg") no-repeat center;
    background-size: 537px 378px;
}
.box .ipd{
    background: url("../img/ipad_large.jpg") no-repeat center;
    background-size: 930px 355px;
}
.shop ul{
    list-style: none;
    width: 100%;
}
.shop ul li{
    width: 49%;
    height: 580px;
    margin: 12px 0.25% 12px 0.5%;
    float: left;
    background: rgb(238,238,238);
}
.shop ul li:nth-child(5){
    background: rgb(250,250,250);
}
.shop ul li:nth-child(6){
    background: rgb(250,250,250);
}
.bkimg{
    width: 100%;
    height: 100%;
}
.shop_top{
    width: 100%;
    height: 140px;
}
.shop_top .watch{
    display:block;
    width: 131px;
    height: 40px;
    margin: 0 auto;
    padding-top: 41px;
    font-size: 40px;
    line-height: 1.1;
    font-weight: 600;
    color: #111;
}
.shop_top .watchf{
    display:block;
    text-align: center;
    height: 40px;
    margin: 0 auto;
    padding-top: 41px;
    font-size: 40px;
    line-height: 1.1;
    font-weight: 600;
    color: #111;
}
.shop_top h4{
    text-align: center;
    display: block;
    width: 100%;
    margin: 0 auto;
    padding-top: 80px;
    font-size: 40px;
    line-height: 1.2381;
    font-weight: 400;
    color: #fff;
}
.shop_top h5{
    text-align: center;
    display: block;
    width: 100%;
    margin: 0 auto;
    padding-top: 10px;
    font-size: 24px;
    line-height: 1.2381;
    font-weight: 400;
    color: #fff;
}
.shop_top .color{
    color: #111;
}
.shop_bottom{
    text-align: center;
}
.shop_bottom a{
    font-size: 20px;
    font-weight: 400;
    color: #0070c9;
}
.shopone{
    background: url("../img/watch_series_3_large.jpg")no-repeat center bottom 0;
}
.shoptwo{
    background: url("../img/how_to_shoot_large.jpg")no-repeat center bottom 0;
}
.shopthree{
    background: url("../img/music_three_months_large.jpg")no-repeat center bottom 0;
}
.shopfour{
    background: url("../img/behind_the_mac_large.jpg")no-repeat center bottom 0;
}
.shopfive{
    background: url("../img/airpods_large.jpg")no-repeat center bottom 0;
}
.shopsix{
    background: url("../img/homepod_large.jpg")no-repeat center bottom 0;
}
.footer{
    width: 100%;
    background: rgb(242,242,242);
    margin-bottom: 0;
    overflow: hidden;
}
.foot_nav{
    width: 1000px;
    margin: 0 auto;
    background: rgb(242,242,242);
}
.foot_nav .toot_titf{
    margin-bottom: 7px;
    padding: 20px 0 8px;
    border-bottom: 1px solid #d6d6d6;
    font-size: 11px;
    color: #888;
}
.foot_nav .toot_titf a{
    color: #0070c9;
}
.foot_nav .toot_titf a:hover{
    text-decoration: underline
}
.foot_nav .toot_tits{
    color: #888;
    padding: 0 0 30px;
    font-size: 11px;

}
.fromtxt{
    width: 100%;
    overflow: hidden;
    padding-top: 50px;
}
.foot_nav dl{
    width: 20%;
    float: left;

}
.foot_nav dl dt{
    font-weight: 600;
    display: block;
    margin-bottom: 9px;
    font-size: 9px;
}
.foot_nav dl dd{
    display: block;
    margin-bottom: 9px;
    color: #555;
    font-size: 11px;
}
.foot_nav dl dd a{
    color: #555;
}
.foot_nav dl dd a:hover{
    text-decoration: underline
}
.foot_nav dl dt span{
    display: none;
}
.foot_nav dl dt span:hover{
    cursor:pointer;
}
.box .wrapper a:hover{
    text-decoration: underline
}
.shop_bottom a:hover{
    text-decoration: underline
}
.toot_tits .userleft{
    margin-top: 5px;
    margin-right: 30px;
    float: left;
}
.toot_tits .usercenters{
    margin-right: 30px;
    float: left;
}
.toot_tits .usercenters a{
    border-right: 1px solid #d6d6d6;
    margin-right: 7px;
    padding-right: 10px;
    display: inline-block;
    margin-top: 5px;
    white-space: nowrap;
    color: #555;
}
.toot_tits .usercenters a:hover{
    text-decoration: underline
}
.toot_tits .usercenters a:nth-child(5){
    border: none;
}
.toot_tits .userright{
    float: right;
    margin-top: 5px;
    position: relative;
    top: -3px;
    z-index: 2;
    white-space: nowrap;
}
.toot_tits .userright span{
    background-repeat: no-repeat;
    background-size: 16px 16px;
    display: inline-block;
    width: 16px;
    height: 16px;
    background-image: url(../img/16.png);
    padding-right: 5px;
    background-position: left center;
    cursor: pointer;
    float: left;
    margin-top: -1px;
}
.toot_tits .userright a{
    color: #555;
}
.toot_tits .userright a:hover{
    text-decoration: underline
}
@media screen and (max-width: 1024px){
    .conter{
        width: 100%;}
    .conter ul{
        padding: 0 14px;
    }
    .box .shopimg{
        width: 763px;
        height: 336px;
    }
    .box .iphoe_x{
        background-size:736px 336px ;
    }
    .box .iphoe_8{
        background-size: 537px 378px;
    }
    .box .ipd{
        background-size: 650px 325px;
    }

    .foot_nav{
        width: 100%;
    }
    .toot_tits .userright{
        margin-top: 10px;
        margin-right: 10px;
    }
    .toot_tits .usercenters{
        margin: 5px  50px 30px 0;
    }
    .footer{
        padding-left: 16px;
    }
}

@media screen and (max-width: 768px){

    .liebiao{
        display: block;
    }
    .text,.seerch{
        display: none;
    }
    .box .shopimg{
        width: 320px;
        height: 353px;  
    }
    .box .iphoe_x{
        background: url("../img/iphone_x_small.jpg")no-repeat center;
    }
    .box .iphoe_8{
        background: url("../img/iphone_8_small.jpg")no-repeat center;
    }
    .box .ipd{
        background: url("../img/ipad_small.jpg") no-repeat center;
    }
    .shop ul li{
        width: 99%;
    }
    .footer{
    	width: 96%;
    }
    .foot_nav dl dd{
        display: none;
    }
    .foot_nav dl{
        width: 100%;
        margin: 0 auto;

    }
    .foot_nav{
        width: 100%;
    }
    .fromtxt{
        padding-top: 21px;

    }
    .foot_nav dl dt{
        border-bottom:1px solid rgba(0,0,0,0.15);
        padding: 15px 0 10px 16px;
    }
    .foot_nav dl dt span{
        display: block;
        float: right;
        font-size: 13px;
        padding-right: 16px;
    }
    .foot_nav .toot_titf{
        padding: 20px 0 8px 16px;
    }
    .toot_tits .userright{
        width: 80%;
        padding: 10px 0 0 16px;
        float: left;
    }
    .toot_tits .userleft{
        padding-left: 16px;
    }
    .toot_tits .usercenters{
        padding-left: 16px;
        margin-bottom: 28px;
    }
  }


