@import url('base.css');
.tou{
	width: 100%;
	height: 1.26rem;
	background: rgb(244,86,86);
	text-align: center;
	line-height: 1.26rem;
	font-size: 0.46rem;
	color: #fff;
	position: relative;
}
.fanhui{
	height: 100%;
	display: block;
	position: absolute;
	font-size: 0.42rem;
	line-height: 1.26rem;
	text-align: left;
	color: #fff;
	top: 0;
	left: 0.3rem;
}
.fanhui i{
	display: block;
	font-size: 0.42rem;
	color: #fff;
	float: left;
}
.fanhui h1{
	font-size: 0.42rem;
	color: #fff;
	float: left;
}
.yonghu{
	width: 100%;
	height: 3.21rem;
	background: #ebebeb;
	padding: 1rem 0.3rem;
	box-sizing: border-box;
}
.yonghu img{
	display: block;
	width: 1.15rem;
	height: 1.15rem;
	float: left;
	margin-right: 0.3rem;
}
.yonghu h1{
	height: 50%;
	font-size:0.4rem;
	color:  #000;
}
.yonghu span{
    height: 50%;
    color: #313131;
    font-size: 0.32rem;
    line-height: 100%;
}
.yonghu{
	position: relative;
}
.yonghuneirong a{
    width: 2.31rem;
    height: 0.93rem;
    background: rgb(244,86,86);
    border-top-left-radius:  1rem;
    border-bottom-left-radius:  1rem;
    position: absolute;
    bottom: 0.45rem;
    right: 0;
    padding-left: 0.3rem;
    box-sizing: border-box;
    font-size: 0.32rem;
    color: #fff;
    line-height: 0.93rem;
}
.yonghuneirong a span{
	display:inline-block;
	width:0.4rem;
	border-radius: 50%;
	background: #fff;
	font-size: 0.22rem;
	color: rgb(244,86,86);
	text-align: center;

}
.zhanghuyue{
	width: 100%;
	height: 1.84rem;
    background: #f4f4f4;
}
.zhanghuyue ul{
	width: 100%;
	height: 1.56rem;
	background: #fff;
	padding:0.3rem ;
	box-sizing: border-box;
	display: flex;
}
.zhanghuyue ul li{
	width: 33.3%;
	height: 100%;
	border-right: 0.03rem solid #ededed;
}
.zhanghuyue ul li:last-child{
	border-right: 0rem solid #ededed;
}
.zhanghuyue ul li h1{
	height: 50%;
    font-size: 0.32rem;
    color: rgb(244,86,86);
    text-align: center;
    line-height: 100%;
}
.zhanghuyue ul li h2{
	height: 50%;
	font-size: 0.34rem;
	color: #6e6e6e;
	text-align: center;
    line-height: 100%;
}
.wodedingdan{
	width: 100%;
	height: 1.50rem;
	padding: 0.3rem;
	box-sizing: border-box;
	border-bottom: 0.03rem solid #eeeeee;
	display: flex;
	align-items: center;
}
.wodedingdan i{
	font-size: 0.36rem;
	color: #9a9a9a;
}
.wodedingdan .L{
	font-size: 0.36rem;
	color: #333;
	margin-right: 5.5rem;
}
.wodedingdan img{
	display: block;
	width: 0.7rem;
    height: 0.7rem; 
    margin-right: 0.2rem;
}
.wodedingdan .R{
	font-size: 0.36rem;
	color: #9a9a9a;
}
.daifukuan{
	width: 100%;
	height: 2.28rem;
	padding: 0.3rem;
	box-sizing: border-box;
}
.daifukuan ul{
	width: 100%;
	height:1.98rem;
	background: #fff;
	display: flex;
}
.daifukuan ul li{
	width: 25%;
	height: 100%;
	padding: 0.25rem 0;
	box-sizing: border-box;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}
.daifukuan ul li img{
	width: 0.6rem;
	height: 0.6rem;
}
.daifukuan ul li h1{
	display: block;
	width: 2rem;
	font-size: 0.36rem;
	text-align: center;
	color: #626262;
}
.yitiao{
	width: 100%;
	height: 0.3rem;
	background: #f4f4f4;
}
.wodetequan{
	width: 100%;
	height: 5.46rem;
}
.wodetequan ul{
	width: 100%;
	height: 5.76rem;
	display: flex;
	flex-wrap: wrap;
	padding: 0 0.3rem;
	box-sizing: border-box;
}
.wodetequan ul li{
    width: 100%;
    height: 25%;
    border-bottom: 0.03rem solid #eeeeee;
    display: flex;
    align-items: center;
}
.wodetequan ul li:last-child{
    border-bottom: 0rem solid #eeeeee;	
}
.wodetequan ul li img{
	display: block;
	width: 0.7rem;
	height: 0.7rem;
	margin-right: 0.26rem;
}
.wodetequan ul li .L{
	font-size: 0.36rem;
	color: #000;
	margin-right: 6.2rem;
	
}
.wodetequan ul li .R{
	display: block;
	width: 1rem;
	height: 0.6rem;
    font-size: 0.36rem;
    color: #979797;
}
.wodetequan ul li i{
	display: block;
	font-size: 0.3rem;
	color: #979797;
}
.tuichudenglu{
	width: 100%;
	height: 1.34rem;
	background: #fff;
	font-size: 0.4rem;
	color: #353535;
	text-align: center;
	line-height: 1.34rem;

}
.last{
	margin-bottom: 1.67rem;
}
.tab{
	width: 100%;
	height: 1.67rem;
	position: fixed;
	background: #fff;
	left: 0;
	bottom: 0;
}
.tab ul{
	display: flex;
	justify-content: space-around;
}
.tab li{
    width: 1.3rem;
    height: 1.67rem;
    margin-top: 0.32rem;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.tab li i{
	display: block;
	font-size: 0.7rem;
	color: #999999;
	margin-top: 0.25rem;
}
.tab li span{
	font-size: 0.32rem;
}
.tab li:nth-child(5) i{
    color: #e0374e;
}
.bottomer{
	width: 100%;
	height: 1.5rem;
	border-top: 1px solid #b6b6b6;
	background-color: rgba(246,246,246,0.95);
	text-align: center;
	z-index: 1100;
	position: fixed;
	bottom: 0;
	left: 0;
	padding-top: 0.2rem;
}

.user-bar-btn {
	width: 24%;
	height: 100%;
	display: block;
	float: left;
}

.user-bar-btn .iconfont{
	font-size: 0.8rem;
	color:#666666;
	background-clip:red;

}
.user-bar-btn span{
	font-size: 0.4rem;
	text-align: center;
	display: block;
	color: #666666;

}
.icon-location{
	font-size: 0.24rem;
}
.bottomer .color_title{
	color: #e0374e;
}